In [5]:
import os
import pandas as pd
from Bio import SeqIO
from Bio import Seq

os.getcwd()
os.chdir('/Volumes/AHN/captive_ape_microbiome')

In [6]:
%%bash 
cp results/moeller_sup/Bacteroidaceae_codiv.fna results/gyrb_all/Bt/moeller_sup/
cd results/gyrb_all/Bt

#make blastdb
makeblastdb -in moeller_sup/Bacteroidaceae_codiv.fna -dbtype nucl

#blast moeller co-div seqs
blastn -query ASVs_filtered.fasta -db moeller_sup/Bacteroidaceae_codiv.fna \
-outfmt "7 qseqid salltitles sseqid pident length qlen evalue" \
-out moeller_sup/ASVs_filtered_blastout.txt \
-max_target_seqs 5

Building a new DB, current time: 06/17/2020 15:47:04
New DB name:   /Volumes/AHN/captive_ape_microbiome/results/gyrb_all/Bt/moeller_sup/Bacteroidaceae_codiv.fna
New DB title:  moeller_sup/Bacteroidaceae_codiv.fna
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /Volumes/AHN/captive_ape_microbiome/results/gyrb_all/Bt/moeller_sup/Bacteroidaceae_codiv.fna
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 208 sequences in 0.00553393 seconds.

In [15]:
#filter output to find 
blast_res = pd.read_csv('results/gyrb_all/Bt/moeller_sup/ASVs_filtered_blastout.txt',sep='\t',comment='#',header=None)
blast_res.columns = ['qseqid','salltitles','sseqid','pident','length','qlen','evalue']
blast_res.head()
blast_res = blast_res.groupby('qseqid').head(1).reset_index(drop=True)
blast_res_pass = blast_res[blast_res['pident']>95].reset_index(drop=True)
codiv_ASVs = list(blast_res_pass['qseqid'])

In [16]:
#find captive asvs
metadata = pd.read_csv('metadata/metadata_Bt_samples_gyrb.txt',sep='\t',index_col=None)
tax_table = pd.read_csv('results/gyrb_all/Bt/assigned_taxonomy/ASVs_filtered_taxonomy.txt',sep='\t',index_col=0)
asv_table = pd.read_csv('results/gyrb_all/Bt/ASVs_filtered_counts.tsv',sep='\t',index_col=0)
groups = ['wild_gorilla', 'wild_bonobo', 'wild_chimp']

def get_description(sample_name):
    description = metadata[metadata.index==sample_name]['Description'].to_string(index=False).replace(' ','')
    return(description)
def get_HR_clade(descriptions,numSamples):
    if len(descriptions) == 0:
        return('NA')
    elif len(descriptions) == 1:
        return(descriptions[0])
    else:
        return('notHR')

wildDict = {}
for index,row in asv_table.iterrows():
    samples = list(asv_table.columns[row>0])
    numSamples = len(samples)
    descriptions = list(set([get_description(x) for x in samples]))
    descriptions_filt = [x for x in descriptions if x in groups]   
    if len(descriptions_filt) > 0:
        wildDict[index] = descriptions_filt
wildASVs = list(wildDict.keys())

In [17]:
print(len(wildASVs))

905

In [18]:
wild_codiv_ASVs = list(set(wildASVs).intersection(set(codiv_ASVs)))
blast_res_pass[blast_res_pass['qseqid'].isin(wild_codiv_ASVs)]

#for index,row in asv_table.iterrows():
#    if index in captive_codiv_ASVs:
#        samples = list(asv_table.columns[row>0])
#        print(samples)
#        numSamples = len(samples)
 #       print(numSamples)
#        descriptions = list(set([get_description(x) for x in samples]))
#        print(descriptions)
#        descriptions_filt = [x for x in descriptions if x in groups]

,qseqid,salltitles,sseqid,pident,length,qlen,evalue
0,ASV_2,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,100.000,250,250,6.220000e-133
1,ASV_8,Human7859459 Bt3_clade1_human,Human7859459,99.600,250,250,2.890000e-131
2,ASV_18,Chimp9859517 Bt3_clade1_chimp,Chimp9859517,100.000,250,250,6.220000e-133
3,ASV_22,Chimp9228565 Bt2_clade2_chimp,Chimp9228565,100.000,250,250,6.220000e-133
4,ASV_25,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,99.200,250,250,1.350000e-129
5,ASV_28,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,99.600,250,250,2.890000e-131
6,ASV_39,Human6700665 Bt3_clade1_human,Human6700665,100.000,250,250,6.220000e-133
7,ASV_42,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,99.600,250,250,2.890000e-131
9,ASV_44,Chimp5888147 Bt1_clade1_chimp,Chimp5888147,100.000,250,250,6.220000e-133
10,ASV_46,Chimp9859517 Bt3_clade1_chimp,Chimp9859517,99.600,250,250,2.890000e-131
11,ASV_52,Gorilla9805772 Bt1_clade1_gorilla,Gorilla9805772,100.000,250,250,6.220000e-133
12,ASV_53,Chimp1067447 Bt2_clade2_chimp,Chimp1067447,100.000,250,250,6.220000e-133
13,ASV_58,Bonobo5703402 Bt2_clade1_bonobo,Bonobo5703402,98.800,250,250,6.260000e-128
14,ASV_62,Gorilla7655534 Bt2_clade2_gorilla,Gorilla7655534,100.000,250,250,6.220000e-133
15,ASV_67,Chimp6685161 Bt1_clade1_chimp,Chimp6685161,98.800,250,250,6.260000e-128
16,ASV_70,Human8829943 Bt3_clade1_human,Human8829943,100.000,250,250,6.220000e-133
17,ASV_73,Bonobo7895675 Bt3_clade1_bonobo,Bonobo7895675,99.600,250,250,2.890000e-131
18,ASV_82,Chimp9228565 Bt2_clade2_chimp,Chimp9228565,99.600,250,250,2.890000e-131
19,ASV_86,Bonobo7895675 Bt3_clade1_bonobo,Bonobo7895675,100.000,250,250,6.220000e-133
20,ASV_88,Bonobo11821974 Bt1_clade1_bonobo,Bonobo11821974,100.000,250,250,6.220000e-133
21,ASV_99,Bonobo2193524 Bt2_clade1_bonobo,Bonobo2193524,98.800,250,250,6.260000e-128
22,ASV_100,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,96.800,250,250,1.360000e-119
23,ASV_102,Gorilla8497213 Bt1_clade1_gorilla,Gorilla8497213,100.000,250,250,6.220000e-133
24,ASV_106,Bonobo3311273 Bt1_clade1_bonobo,Bonobo3311273,100.000,250,250,6.220000e-133
26,ASV_122,Bonobo9832770 Bt3_clade1_bonobo,Bonobo9832770,100.000,250,250,6.220000e-133
27,ASV_123,Bonobo6757245 Bt2_clade1_bonobo,Bonobo6757245,98.800,250,250,6.260000e-128
28,ASV_128,Bonobo4232320 Bt3_clade1_bonobo,Bonobo4232320,99.200,250,250,1.350000e-129
29,ASV_130,Bonobo1078 Bt2_clade1_bonobo,Bonobo1078,98.400,250,250,2.910000e-126
30,ASV_135,Bonobo4186256 Bt1_clade1_bonobo,Bonobo4186256,100.000,250,250,6.220000e-133
31,ASV_142,Bonobo6932003 Bt2_clade1_bonobo,Bonobo6932003,98.800,250,250,6.260000e-128
...,...,...,...,...,...,...,...
211,ASV_2114,Bonobo7228450 Bt2_clade2_bonobo,Bonobo7228450,98.795,249,250,2.250000e-127
212,ASV_2129,Gorilla7655534 Bt2_clade2_gorilla,Gorilla7655534,98.800,250,250,6.260000e-128
213,ASV_2150,Bonobo4186256 Bt1_clade1_bonobo,Bonobo4186256,99.200,250,250,1.350000e-129
214,ASV_2188,Bonobo6757245 Bt2_clade1_bonobo,Bonobo6757245,99.197,249,250,4.840000e-129
215,ASV_2196,Bonobo6757245 Bt2_clade1_bonobo,Bonobo6757245,98.000,250,250,1.350000e-124
216,ASV_2227,Bonobo5731561 Bt2_clade1_bonobo,Bonobo5731561,99.598,249,250,1.040000e-130
217,ASV_2235,Bonobo972742 Bt2_clade1_bonobo,Bonobo972742,98.400,250,250,2.910000e-126
218,ASV_2320,Bonobo11821974 Bt1_clade1_bonobo,Bonobo11821974,99.200,250,250,1.350000e-129
219,ASV_2342,Bonobo6937590 Bt2_clade2_bonobo,Bonobo6937590,97.200,250,250,2.930000e-121
220,ASV_2365,Bonobo11821974 Bt1_clade1_bonobo,Bonobo11821974,99.600,250,250,2.890000e-131
221,ASV_2373,Bonobo11213703 Bt2_clade2_bonobo,Bonobo11213703,98.000,250,250,1.350000e-124
222,ASV_2380,Bonobo5703402 Bt2_clade1_bonobo,Bonobo5703402,99.200,250,250,1.350000e-129
223,ASV_2468,Bonobo6937590 Bt2_clade2_bonobo,Bonobo6937590,98.400,250,250,2.910000e-126
224,ASV_2489,Bonobo11725461 Bt2_clade1_bonobo,Bonobo11725461,99.200,250,250,1.350000e-129
225,ASV_2505,Bonobo5703402 Bt2_clade1_bonobo,Bonobo5703402,99.200,250,250,1.350000e-129
226,ASV_2506,Bonobo8827876 Bt1_clade1_bonobo,Bonobo8827876,99.600,250,250,2.890000e-131
227,ASV_2519,Chimp6973326 Bt2_clade1_chimp,Chimp6973326,97.600,250,250,6.300000e-123
228,ASV_2526,Bonobo8827876 Bt1_clade1_bonobo,Bonobo8827876,99.600,250,250,2.890000e-131
229,ASV_2530,Bonobo972742 Bt2_clade1_bonobo,Bonobo972742,98.400,250,250,2.910000e-126
230,ASV_2532,Bonobo3311273 Bt1_clade1_bonobo,Bonobo3311273,98.400,250,250,2.910000e-126
231,ASV_2536,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,97.600,250,250,6.300000e-123
232,ASV_2584,Bonobo6757245 Bt2_clade1_bonobo,Bonobo6757245,99.200,250,250,1.350000e-129
233,ASV_2638,Chimp9859517 Bt3_clade1_chimp,Chimp9859517,99.600,250,250,2.890000e-131
234,ASV_2642,Bonobo6937590 Bt2_clade2_bonobo,Bonobo6937590,99.200,250,250,1.350000e-129
236,ASV_2806,Chimp6973326 Bt2_clade1_chimp,Chimp6973326,96.000,250,250,2.950000e-116
246,ASV_3773,Chimp9859517 Bt3_clade1_chimp,Chimp9859517,97.200,250,250,2.930000e-121
250,ASV_4445,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,99.600,250,250,2.890000e-131
252,ASV_4797,Chimp9931019 Bt2_clade1_chimp,Chimp9931019,99.371,159,250,1.120000e-80
256,ASV_5326,Chimp9859517 Bt3_clade1_chimp,Chimp9859517,97.200,250,250,2.930000e-121
267,ASV_6265,Bonobo11821974 Bt1_clade1_bonobo,Bonobo11821974,98.000,250,250,1.350000e-124